<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ldd.mak">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".MyAPP"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:networkSecurityConfig="@xml/network_security_config"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.activity.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--申请权限-->
        <activity
            android:name=".ui.activity.PermissionActivity"
            android:screenOrientation="portrait" />
        <!--列表-->
        <activity
            android:name=".ui.activity.NestListActivity"
            android:screenOrientation="portrait" />
        <!--获取屏幕参数-->
        <activity
            android:name=".ui.activity.GetScreenParamActivity"
            android:screenOrientation="portrait" />
        <!--加载Fragment-->
        <activity
            android:name=".ui.activity.LoadingFragmentActivity"
            android:screenOrientation="portrait" />
        <!--ViewModel简单使用，可翻转屏幕-->
        <activity android:name=".ui.activity.jetpack.viewmodel.ViewModelActivity" />
        <!--LiveData简单使用，可翻转屏幕-->
        <activity android:name=".ui.activity.jetpack.livedata.LiveDataActivity" />
        <!--DataBinding简单使用，可翻转屏幕-->
        <activity android:name=".ui.activity.jetpack.databinding.DataBindingActivity" />

        <activity android:name=".ui.activity.MVVMNetWorkActivity" />

    </application>

</manifest>